.live_symbol {
  display: flex;
  justify-content: center;
}

.live_symbol button {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.live-dot {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #22c55e;
  border-radius: 50%;
}

.live-dot .ripple {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: #22c55e;
  animation: ripple 1.5s infinite ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
