@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/** Root Style|Start **/
:root {
  /* Brand Colors */
  --color-primary: #30b868;
  --iconBG: #f95555;

  /* Background Colors */
  --color-bg-main: #fff;
  --color-bg-section: #f7f6f2;

  /* Text Colors */
  --color-text-primary: #001931;
  --color-text-secondary: #627382;
}
/** Root Style|End **/

/** Common Style|Start **/
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
p {
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text-secondary);
}
.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-bg-main);
  font-weight: bold;
  transition: 0.2s;
}
.btn:hover {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.container {
  width: 1360px;
  padding: 0 120px;
}
/** Common Style|End **/

/** NavBar Style|Start **/
#navBar {
  padding: 16px 120px 16px 120px;
}
#navBar .nav_content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
#navBar .nav_content img {
  width: 139px;
  height: 60px;
}
#navBar .nav_content .menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
#navBar .nav_content .menu ul li a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: var(--color-text-primary);
}
/** NavBar Style|End **/

/** HeroSection Style|Start **/
#HeroSection {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #015aadbd, #001931cc),
    url(./../image/BannerBG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-bg-main);
}
#HeroSection .container {
  text-align: center;
}

.live_symbol button {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 12px 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  color: var(--color-primary);
}

#HeroSection .Hero_text h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  text-transform: capitalize;
  margin: 16px 0;
}
#HeroSection .Hero_text h2 span {
  font-size: 72px;
  color: var(--color-primary);
}
#HeroSection .Hero_text p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-bg-main);
  line-height: 24px;
}
#HeroSection .Hero_buttons button {
  margin-top: 32px;
  font-weight: 400;
}
#HeroSection .Hero_buttons button:last-child {
  background: transparent;
  border: 1px solid var(--color-bg-main);
  color: var(--color-bg-main);
  margin-left: 16px;
}
/** HeroSection Style|End **/

/** ProblemsSection Style|Start **/
#ProblemsSection {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#ProblemsSection .problem_section_title h4 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
#ProblemsSection .problem_section_title p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-secondary);
}
#ProblemsSection .problem_cards {
  display: flex;
  margin-top: 45px;
}
#ProblemsSection .problem_cards .problem_card {
  width: 25%;
  padding: 24px;
}
#ProblemsSection .problem_cards .problem_card img {
  width: 25%;
  padding: 15px;
  background: var(--iconBG);
  border-radius: 50%;
}
#ProblemsSection .problem_cards .problem_card h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 16px 0;
}
/** ProblemsSection Style|End **/

/** SolutionSection Style|Start **/
#SolutionSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
#SolutionSection .solution_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#SolutionSection .solution_content {
  display: flex;
  align-items: center;
}
#SolutionSection .solution_img {
  width: 40%;
}
#SolutionSection .solution_img img {
  width: 100%;
}
#SolutionSection .solution_features {
  width: 60%;
}
#SolutionSection .solution_features p:first-child{
  text-transform: uppercase;
}
#SolutionSection .solution_features h3 {
  font-style: Bold;
  color: var(--color-text-primary);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  margin: 16px 0;
}
#SolutionSection .solution_feature_item {
  margin-top: 30px;
  gap: 10px;
}
#SolutionSection .solution_feature_item ul li{
  color: var(--color-text-primary);
  list-style: none;
  line-height: 30px;
}
#SolutionSection .solution_feature_item ul li i{
  color: var(--color-primary);
}
/** SolutionSection Style|End **/

/** CTASection Style|Start **/
#CTASection{
   display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
#CTASection .container{
  background: var(--color-bg-section);
  padding: 80px 0;
}
#CTASection .container h4{
  font-size: 40px;
font-weight: 700;
}
#CTASection .container p{
  margin: 17px 0;
}
/** CTASection Style|End **/

/** Footer Style|Start **/
#Footer {
  background: var(--color-text-primary);
  padding-bottom: 20px;
}
#Footer .footer_top{
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
#Footer .footer_top p{
  color: var(--color-bg-main);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
#Footer .footer_top .social_icons i{
  color: var(--color-bg-main);
  font-size: 20px;
}
#Footer .footer_copyright{
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid var(--color-text-secondary);
}

/** Footer Style|End **/
